export default {
    token: process.env.TOKEN || '',
    mongoString: process.env.MONGO || '',
    defaultPrefix: '',
    developers: [''],
    errorChannel: '',
    imageChannel: '',
    apiKeys: {
        imgur: {
            id: process.env.IMGUR_ID || '',
            secret: process.env.IMGUR_SECRET || ''
        }
    }
};
